/* common style start  */
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.main-btn{
    padding: 15px 15px;
    background-color: #FF900E;
    border-radius: 5px;
    border: none;
    color: white;
    margin: auto;
    font-size: 1rem;
    font-weight: 600;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}
/* common style end */

/* header start  */
header{
    padding: 20px 150px;
    background: rgba(255, 144, 14, 0.10);
}
/* header end */

/* navbar start  */
nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.a{
    text-decoration: none;
    color: var(--dark-02, #424242);
    text-align: center;
    font-weight: 500;
}
nav ul li{
    margin-right: 60px;
}
.nav-title{
    color:#131313;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

/* navbar end */

/* banner start  */
.banner-contant{
    max-width: 862px;
    margin: auto;
    text-align: center;
    margin-top: 60px;

}
.banner-section-title{
    color:#131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.banner-section-description{
    color: var(--dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}
.banner-image{
    width: 100%;
    margin-top: 50px;
}
/* banner end  */

/* features start  */
.features{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.features-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.features-info-container{
    padding-right: 40px;
    padding-left: 40px;
}
.features-title{
    font-size: 2rem;
    color: #131313;
}
.features-description{
    color: #727272;
}
/* features end */

/* features-list start  */
.features-list{
    display: flex;
    gap: 50px;
    margin-top: 100px;
}
.features-list-container-title{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features-list-container-description{
    color: #727272;
    font-weight: 400;
}
.list-item{
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.list-item-title{
    color: #131313;
    font-weight: 600;
}
.list-item-desceiption{
    color: #727272;
    font-weight: 400;
}
.features-list img {
    width: 100%;
}
.features-list-container{
    padding-right: 80px;
}
/* features-list end  */





/* responsive style  */
/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 10px;
    }
    nav{
        flex-direction: column;
    }
    nav ul li{
        margin-right: 40px;
    }
    .features{
        flex-direction: column;
        gap: 25px;
    }
    .features-img-container{
        display: grid;
        grid-template-columns: none;
    }
    .features-list{
        flex-direction: column;
    }
    .features-list-container{
        padding: 10px;
    }
}
/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav, .features{
        flex-direction: column;
    }
    nav ul li{
        margin-right: auto;
    }
    .a{
        text-align: center;
    }
}